// colors
$primary-color: #242424;
$complimantry-color: #385E72;
$background-color: #79C4F2;
$background-color-dark: #2f89c1;
$misty-light: #D9E4EC;
$misty: #A0AFB7;
$misty-dark: #385E72;


// fonts
$primary-font: helvetica;

$h1: clamp(2.5rem, 4vw, 7rem);
$h2: clamp(2rem, 4vw, 6rem);
$h3: clamp(1.7rem, 2.3vw, 5rem);
$p: clamp(1rem, 1.6vw, 2rem);
$card: clamp(1rem, 1.4vw, 2rem);

// general
$section-divider: 10vw;