$c-main: #7E43D0;
$c-soft: #dcc3ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    font-family: sans-serif;
    background-color: $c-main;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    button {
        cursor: pointer;
        border: 0;
        font-size: clamp(1rem, 1.5vw, 4rem);
        padding: .4rem 1.6rem;
        border-radius: 8px;
        color: $c-soft;
        background-color: $c-main;
        transition: 300ms ease;

        &:hover,
        &:active {
            background-color: $c-soft;
            color: $c-main;
        }

        &:disabled {
            background-color: rgb(223, 223, 223);
            color: gray;
        }
    }
}

h1 {
    color: white;
    font-size: clamp(1rem, 5vw, 9rem);
    text-align: center;
}

.reload-button {

    background-color: $c-soft;
    color: $c-main;

    &:hover,
    &:active {
        scale: 1.1;
    }

}

#quiz {
    display: flex;
    flex-flow: column;
    row-gap: 3rem;
    justify-content: center;
    align-items: center;

    h2 {
        color: #242424;
        background-color: #ffffffc9;
        padding: 1rem 3rem;
        border-radius: 1.5rem;
        font-size: clamp(1.2rem, 2.4vw, 7rem);
    }

    input {
        width: clamp(200px, 35vw, 1000px);
        height: 3rem;
        border: 1px solid lightgray;
        background-color: rgb(248, 248, 248);
        border-radius: 1.4rem;
        font-size: clamp(1rem, 1.7vw, 7rem);

        &::placeholder {
            padding-left: 4%;
        }
    }

    .buttons {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 1rem;

        button {
            background-color: $c-soft;
            color: $c-main;

            &:hover,
            &:active {
                scale: 1.1;
            }
        }
    }
}


.presets {
    width: 50vw;
    gap: 1rem;
    display: grid;
    grid-template-areas:
        "presets presets questions questions"
        ". tryDemo tryDemo ."
    ;

    @media (max-width: 772px) {
        grid-template-areas:
            "presets"
            "questions"
            "tryDemo"
        ;
    }

    h3 {
        color: #242424;
        padding: .4rem 0;
        margin-bottom: 5%;
        align-self: center;
        font-size: clamp(1rem, 2.2vw, 5rem);
        text-align: center;
        background-color: $c-soft;
        border-radius: .8rem .8rem 0 0;
    }

    form {
        grid-area: presets;
        display: flex;
        flex-flow: column;
        gap: 1rem;
        // width: clamp(50px, 20vw, 250px);
        background-color: white;
        padding-top: 0;
        border-radius: .8rem;

        h3 {
            width: 100%;
        }

        input {
            margin: 0 15px;
            height: 2rem;
            border: 1px solid lightgray;
            background-color: rgb(248, 248, 248);
            border-radius: .8rem;

            &::placeholder {
                padding-left: 4%;
            }
        }

        .buttons {
            // display: flex;
            // justify-content: space-between;
            text-align: center;
            padding-bottom: 1rem;
        }
    }
}

.show-questions {
    grid-area: questions;
    background-color: white;
    border-radius: .8rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    h3 {
        width: 100%;
    }

    #questions-list {
        margin-bottom: auto;
        line-height: 1.7;
        max-width: 300px;

        p {
            border-bottom: 1px solid $c-soft;
        }
    }

    .buttons {
        margin: 1rem 0;
    }
}

.try-demo {
    grid-area: tryDemo;
    background-color: #fff;
    border-radius: .8rem;
    text-align: center;

    button {
        margin: 1rem 0;
    }
}

#quiz {
    display: none;
}

.presets {
    // display: none;
}